<div id="carousel-slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-slider" data-slide-to="1" class=""></li>
    <li data-target="#carousel-slider" data-slide-to="2" class=""></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <!-- Image 1 -->
    <div class="item active">
      <div class="img-wrap">
        <img src="{{ site.baseurl }}/assets/img/blue-banner.jpg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <!-- Image 2 -->
    <div class="item">
      <div class="img-wrap">
        <img src="{{ site.baseurl }}/assets/img/home-slide-2.jpg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <!-- Image 3 -->
    <div class="item">
      <div class="img-wrap">
        <img src="{{ site.baseurl }}/assets/img/home-slide-3.jpg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>
