<header itemscope itemtype="http://schema.org/HomeAndConstructionBusiness">
  <a href="{{ site.baseurl }}/" class="fre-logo">
    <img itemprop="logo" src="{{ site.baseurl }}/assets/img/jollietree.svg" alt="Jollie Tree logo">
  </a>
  <dl>
    <dt itemprop="name">Jollie Tree</dt>
    <dd itemprop="description">Tree Removal</dd>
    <dd itemprop="description">Tree Trimming</dd>
    <dd itemprop="description">Storm Damage Cleanup</dd>
    <dd itemprop="description">Snow Removal</dd>
  </dl>
</header>
