<div class="split-wrap">
  <div class="row tbl">
    <div class="col-sm-6 col-sm-push-6">
      <img src="{{ site.baseurl }}/assets/img/{{ page.image }}" class="img-responsive" alt="{{ page.imageAlt }}">
    </div>
    <div class="col-sm-6 col-sm-pull-6 tbl">
      <article>
        <section>
          <h1 class="fre-biz-font">Welcome</h1>
          <p>
            fre’ best-in-class VoIP solution combines your business’ voice and data on one network, bringing you improved call handling, reliability, and local support for a better value and superior customer experience.
          </p>
          <a href="tel:1-608-206-2834" class="fre-btn btn btn-primary" role="button">
            Call for a FREE estimate
          </a>
        </section>
      </article>
    </div>
  </div>
</div>
