<div class="split-wrap">
  <div class="row tbl">
    <div class="col-sm-6 col-sm-push-6">
      <img src="{{ site.baseurl }}/assets/img/{{ page.image }}" class="img-responsive" alt="{{ page.imageAlt }}">
    </div>
    <div class="col-sm-6 col-sm-pull-6 tbl">
      <article>
        <section>
          <h1 class="fre-co-font">Jollie Tree <span>Tree Services and Snow Removal.</span></h1>
          <p>
            <span class="fre-co-font">Jollie Tree</span> is a family owned business offering the best services for tree trimming, tree removal, storm damage cleanup and snow removal in the greater Madison, Wisconsin area. Our customers are always very satisfied.
          </p>
          <a href="{{ site.baseurl}}/contact" class="fre-btn btn btn-primary" role="button">
            Contact us for a FREE estimate
          </a>
        </section>
      </article>
    </div>
  </div>
</div>
