{% include nav-header.html %}
<nav class="fre-navbar navbar navbar-default">
  <div class="container-fluid">
    {% include navbar-header.html %}
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="fre-voip-menu">
      <ul class="nav navbar-nav" id="fre-voip-nav">
        <li {% if page.url == "/" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% include list-item.html description='About' permalink='about' %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
