<!-- Navicon -->
<div class="fre-navicon clearfix" id="navicon">
  <button class="fre-btn btn-transparent pull-left">
    <span>
      <i class="fa fa-navicon fa-lg fa-lg" aria-hidden="true"></i>
    </span>
    MENU
  </button>
  <div class="fre-tel pull-right" itemscope itemtype="http://schema.org/HomeAndConstructionBusiness">
    <a href="tel:1-{{ site.tel }}" itemprop="telephone">
      <span>
        <i class="fa fa-phone" aria-hidden="true"></i>
      </span>
      {{ site.tel }}
    </a>
  </div>
</div>
<!-- Nav -->
<nav class="fre-nav">
  <ul>
    <li {% if page.url == "/" %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/">
      Home
      </a>
    </li>
    {% include list-item.html description='About' permalink='about' %}
    {% include list-item.html description='Contact' permalink='contact' %}
  </ul>
  <a href="tel:1-{{ site.tel }}">
    <span>
      <i class="fa fa-phone" aria-hidden="true"></i>
    </span>
    {{site.tel }}
  </a>
</nav>
