<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "url": "http://www.jollietree.com",
  "name": "{{ site.title }}",
  "telephone": "{{ site.tel }}",
  {% if page.schemaContact %}
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Cross Plains",
    "addressRegion": "WI",
    "postalCode": "53528",
    "streetAddress": "1805 Saeman St"
  },
  {% endif %}
  "description": "Tree Removal, Tree Trimming, Storm Damage Cleanup and Snow Removal in Madison, Wisconsin."
}
</script>
