button.fre-btn.btn,
a.fre-btn.btn {
  border-radius: 0;
  &.btn-primary {
    background: $primary;
    border-color: $primary;
  }
  &.btn-orange {
    background: $orange;
    border-color: $orange;
    color: $white;
  }
  &.btn-default {
    background: $white;
    border-color: $lines;
  }
}

.fre-cta {
  padding: 12px 0;
  &.pricecard {
    padding: 12px 0 0 0;
  }
}

.fre-menu-chevron {
  padding: 4px 0;
  border-top: 1px solid darken($lines, 15%);
  background: darken($lines, 7.5%);
  span {
    @include prefix(transform-origin, center center);
    @include prefix(transition, 0.5s all ease);
  }
}
