header {
  h1 {
    text-align: center;
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $lato;
    font-size: 24px;
    @include phones {
      font-size: 36px;
    }
    @include desktops {
      font-size: 48px;
    }
    white-space: nowrap;
  }
  padding: 6px 0;
  .fre-logo {
    display: block;
    margin: 0 auto;
    width: 72px;
    @include tablets {
      width: 100px;
    }
    @include desktops {
      width: 144px;
    }
    img {
      width: 72px;
      height: auto;
      @include tablets  {
        width: 100px;
      }
      @include desktops {
        width: 144px;
      }
    }
  }
}
