header {
  dl {
    display: block;
    padding: 0;
    text-align: center;
    dt {
      text-align: center;
      color: $primary;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $lato;
      font-size: 36px;
      @include phones {
        font-size: 48px;
      }
      @include desktops {
        font-size: 64px;
      }
      white-space: nowrap;
    }
    dd {
      display: inline-block;
      padding-right: 12px;
      color: $primary;
      font-family: $lato;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  padding: 6px 0;
  .fre-logo {
    display: block;
    margin: 0 auto;
    width: 72px;
    @include tablets {
      width: 100px;
    }
    @include desktops {
      width: 144px;
    }
    img {
      width: 72px;
      height: auto;
      @include tablets  {
        width: 100px;
      }
      @include desktops {
        width: 144px;
      }
    }
  }
}
