// Nav
.fre-nav {
  background-color: $lt-grey;
  ul {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    li {
      display: inline-block;
      border-right: 1px solid $lines;
      &:first-child {
        border-left: 1px solid $lines;
      }
      a {
        display: block;
        padding: 16px 48px;
        text-decoration: none;
        font-size: 16px;
        color: $text;
      }
      &.active a{
        color: $primary;
      }
    }
  }
}
