// navicon
.fre-navicon {
  display: block;
  @include tablets {
    display: none;
  }
  a[href^="tel:"] {
  color: $primary;
  display: block;
  padding: 12px 12px 0 0;
  }
}
// Nav
.fre-nav {
  background-color: $lt-grey;
  display: none;
  position: relative;
  @include tablets {
    display: block !important;
  }
  ul {
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    li {
      display: block;
      @include tablets {
        display: inline-block;
      }
      border-right: 1px solid $lines;
      &:first-child {
        border-left: 1px solid $lines;
      }
      a {
        display: block;
        padding: 16px 48px;
        text-decoration: none;
        font-size: 16px;
        color: $text;
      }
      &.active a{
        color: $primary;
      }
    }
  }
    a[href^="tel:"] {
      display: none;
      @include tablets {
        display: block;
      }
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px 36px;
      font-size: 22px;
      background: $primary;
      color: $white;
  }
}
