// Navbar Header
.fre-nav-header {
  padding: 12px 0 16px 0;
  border-bottom: 1px solid $lines;
  display: none;
  @include phones {
    display: block;
  }
  a[href^="tel:"] {
  color: $primary;
  font-size: 16px;
    i.fa-circle {
      color: $primary;
    }
  }
  .contact-info {
    padding-top: 8px;
  }
}
