// Colors
$primary: #009624;
$card-shadow: darken($primary, 10%);
$fre-dk-blue: #000e03;
$fre-lt-blue: #258ecd;
$text: #555;
$white: #fff;
$black: #000;
$orange: #ff7700;
$lines: #ededed;

// Fonts
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
$lato: 'Lato', sans-serif;
