// Colors
$primary: #04acfa;
$card-shadow: darken($primary, 10%);
$fre-dk-blue: #19388a;
$fre-lt-blue: #258ecd;
$text: #555;
$white: #fff;
$black: #000;
$orange: #ff7700;
$lines: #ededed;

// Fonts
$avant: "Helvetica Neue",Helvetica,Arial,sans-serif;
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
