<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="container jot-coming">
        <h1>Jollie Tree</h1>
        <h2>Our Services</h2>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            Tree Removal</li>
          <li>
            <i class="fa fa-check"></i>
            Tree Trimming</li>
          <li>
            <i class="fa fa-check"></i>
            Storm Damage Cleanup</li>
        </ul>
        <p>
          Please call us for any questions
        </p>
        <a href="tel:1-608-206-2834">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          608-206-2834
        </a>

        {{ content }}
      </div>
    </main>

  </body>

</html>
